Repository rootstrap/FlowForms, pull requests merged in 2022-08, with the labels that each got.

#18 Multiple validations lists. Android KMP module. Easier form usage
  ExampleApp Android/build.gradle.kts
  FlowForms-Core/build.gradle.kts
  FlowForms-Core/src/androidMain/AndroidManifest.xml
  FlowForms-Core/src/commonMain/kotlin/com/rootstrap/flowforms/core/common/StatusCodes.kt
  FlowForms-Core/src/commonMain/kotlin/com/rootstrap/flowforms/core/field/DefaultFieldValidationBehavior.kt
  FlowForms-Core/src/commonMain/kotlin/com/rootstrap/flowforms/core/field/FieldActions.kt
  FlowForms-Core/src/commonMain/kotlin/com/rootstrap/flowforms/core/field/FieldValidationBehavior.kt
  FlowForms-Core/src/commonMain/kotlin/com/rootstrap/flowforms/core/field/FlowField.kt
  FlowForms-Core/src/commonMain/kotlin/com/rootstrap/flowforms/core/form/FlowForm.kt
  FlowForms-Core/src/commonMain/kotlin/com/rootstrap/flowforms/core/form/FormStatus.kt
  FlowForms-Core/src/commonMain/kotlin/com/rootstrap/flowforms/core/validation/ValidationShortCircuitException.kt
  FlowForms-Core/src/commonTest/kotlin/com/rootstrap/flowforms/core/Constants.kt
  FlowForms-Core/src/commonTest/kotlin/com/rootstrap/flowforms/core/field/DefaultFieldValidationBehaviorTest.kt
  FlowForms-Core/src/commonTest/kotlin/com/rootstrap/flowforms/core/field/FlowFieldTest.kt
  FlowForms-Core/src/commonTest/kotlin/com/rootstrap/flowforms/core/form/FlowFormTest.kt
Labels: core, Android example

#21 Create pull_request_template.md
  pull_request_template.md
Labels: enhancement

#23 Create CODEOWNERS
  CODEOWNERS
Labels: enhancement, good first issue

#24 Create git issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation, enhancement

#27 Android platform & binding utilities
  .github/workflows/gradle.yml
  ExampleApp Android/src/main/java/com/rootstrap/flowforms/example/MainActivity.kt
  ExampleApp Android/src/main/java/com/rootstrap/flowforms/example/SignUpViewModel.kt
  FlowForms-Android-Ext/.gitignore
  FlowForms-Android-Ext/build.gradle.kts
  FlowForms-Android-Ext/consumer-rules.pro
  FlowForms-Android-Ext/proguard-rules.pro
  FlowForms-Android-Ext/src/main/AndroidManifest.xml
  FlowForms-Android-Ext/src/test/java/com/rootstrap/flowforms/flowforms_android/ExampleUnitTest.kt
  FlowForms-Core/build.gradle.kts
  FlowForms-Core/src/androidMain/kotlin/com/rootstrap/flowforms/util/FlowFormsUtils.kt
  FlowForms-Core/src/androidMain/kotlin/com/rootstrap/flowforms/util/OnFocusChangeListenerDecorator.kt
  FlowForms-Core/src/commonMain/kotlin/com/rootstrap/flowforms/core/field/FieldStatus.kt
  FlowForms-Core/src/commonMain/kotlin/com/rootstrap/flowforms/core/form/FlowForm.kt
  FlowForms-Core/src/commonMain/kotlin/com/rootstrap/flowforms/core/validation/Required.kt
  FlowForms-Core/src/commonMain/kotlin/com/rootstrap/flowforms/core/validation/Validation.kt
  FlowForms-Core/src/commonTest/kotlin/com/rootstrap/flowforms/core/form/FlowFormTest.kt
  buildSrc/src/main/java/Dependencies.kt
  settings.gradle.kts
Labels: core, android, Android example

#29 Fragment example usage in Android example app
  ExampleApp Android/src/main/AndroidManifest.xml
  ExampleApp Android/src/main/java/com/rootstrap/flowforms/example/SignUpFormActivity.kt
  ExampleApp Android/src/main/java/com/rootstrap/flowforms/example/SignUpFormFragment.kt
  ExampleApp Android/src/main/java/com/rootstrap/flowforms/example/SignUpFormFragmentContainerActivity.kt
  ExampleApp Android/src/main/res/layout/activity_simple_sign_up_fragment_form.xml
  ExampleApp Android/src/main/res/layout/layout_simple_sign_up_form.xml
  ExampleApp Android/src/main/res/values/strings.xml
  FlowForms-Core/src/androidMain/kotlin/com/rootstrap/flowforms/util/FlowFormsUtils.kt
Labels: android, Android example
